import Config

config :allspark, Allspark.Supabase.Client,
  supabase_url: "https://your-project.supabase.co",
  supabase_key: "your-supabase-anon-key"

config :supabase_gotrue, auth_module: AllsparkWeb.Auth

# ExAws S3 configuration (Supabase Storage)
config :ex_aws,
  json_codec: Jason,
  access_key_id: "your-supabase-storage-access-key",
  secret_access_key: "your-supabase-storage-secret-key"

config :ex_aws, :s3,
  scheme: "https://",
  host: "your-project.supabase.co",
  region: "us-east-1",
  bucket: "receipts"